spring:
  application:
    name: xiaozhang
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://8.140.248.234:3306/xiaoz?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: root
    password: laopo5203344..
server:
  port: 8082

# MyBatis ??
mybatis:
  configuration:
    map-underscore-to-camel-case: true # ????????
    default-fetch-size: 100
    default-statement-timeout: 30
    log-impl: com.farben.springboot.xiaozhang.service.impl # ??SQL??
  mapper-locations: classpath:mapper/*.xml # Mapper XML ????
  type-aliases-package: com.farben.springboot.xiaozhang.dto #





